{% extends "base.html" %}

{% block content %}

{% if form.errors %}

        <div data-alert class="alert-box alert">
          Your username and password didn't match. Please try again.
          <a href="#" class="close">&times;</a>
        </div>
        {% endif %}

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <center>
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td><a href="/accounts/password/reset/">Forgot Password?</a></td>
            <td></td>
        </tr>   

        <tr>
            <td></td>
            <td><button class="button">Login</button></td>

            <td><input type="hidden" name="next" value="{{ next }}" /></td>
        </tr>
        </table>
        </center>

        </form>

{% endblock %}