{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block body %}

<h3>Change Password</h3>
<form class="textWidth" method='post' action='' >{% csrf_token %}
    {% if form.errors %}
        <div data-alert class="alert-box alert">
             Please correct the errors below.
             <a href="#" class="close">&times;</a>
        </div>
    {% endif %}

    {{ form }}
    <button class ="button">Change Password</button>
</form>

{% endblock %}
