{% extends 'base.html' %}
{% block title %}JMD Seafoods | Home{% endblock %}
{% block content %}

	<h3>About Us</h3>

<div class="row">
  <div class="large-12 columns" style="text-align:justify;">

  <h5>About JMD Seafoods</h5>	
  <p>Welcome! JMD Seafoods is the number one fresh and frozen seafood dealer in Manila. This business originated on buying and selling fresh seafoods from Bacolod, and Negros Occidental and then sold to the markets. As the business expands our products were now also delivered to the markets in Manila. Few years later JMD ventured in selling frozen seafoods. And at present JMD Seafoods are selling sliced fish on Robinsons supermarkets. Though frozen fish was introduced on the business, JMD seafoods is still engaged in selling fresh fish which are now dropped in Navotas fish port. </p>

  <h5>Terms and Conditions</h5>

  <h5>Orders:</h5>

  <p>Purchase orders are not valid unless checked out and paid online. Purchaser will not recognize claims based on verbal orders.</p>

  <h5>Delivery Policies / Shipment:</h5>

  <p>Delivery of products is available within Metro Manila only. If delivery is not made by the date indicated in this Order, Purchaser may, in addition to its other rights, cancel this Order, without any liability whatsoever. If in order to comply with Purchaser's required delivery date it becomes necessary for Seller to ship by a more expensive way than specified in this purchase order, any increased transportation costs resulting there from shall be paid for by Seller unless the necessity for such rerouting or expedited handling has been caused by Purchaser.</p>


  <h5>Acceptance-Agreement</h5>
  <p>Seller's commencement of work on the goods subject to this purchase order or shipment of such goods, whichever occurs first, shall be deemed an effective mode of acceptance of this purchase order. Any acceptance of this purchase order is limited to acceptance of the express terms contained on the face and back hereof. Any proposal for additional or different terms or any attempt by Seller to vary in any degree any of the terms of this offer in Seller's acceptance is hereby objected to and rejected, but such proposals shall not operate as a rejection of this offer unless such variances are in the terms of the description, quantity, price, or delivery schedule of the goods, but shall be deemed a material alteration thereof, and this offer shall be deemed accepted by Seller without said additional or different terms.</p>

  <h5>Price and Payment</h5>
  <p>Seller warrants that the prices for the articles sold Purchaser hereunder are not less favorable than those currently extended to any other customer for the same or similar articles in similar quantities. In the event Seller reduces its price for such article during the term of this order, Seller agrees to reduce the prices hereof correspondingly. The price stated in this Order includes all charges for packaging, boxing, crating, special handling, and freight, F.O.B. destination. No modification or adjustment of the stated price may be made without the signed written agreement of Purchaser. If the price is not stated on this Order, the price shall be the lower of: the later price last quoted or paid, or the prevailing market price.</p>

  </div>

</div>

{% endblock %}